@font-face {
  font-family: "Numans", sans-serif;
  src: url(/fonts/Numans-Regular.woff2) format("woff2"),
  url(/fonts/Numans-Regular.ttf) format("ttf") ;
}
body {
    font-family: "Numans", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* partie supérieur du header - Top Bar*/
.titrepage {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  color: #01519a;
  margin-block-start: 3px !important;
}
.textpage {
  text-align: center;
  font-size: 14px;
  color: #01519a;
}
.formpage {
  text-align: center;
}

.zone1 {
  padding-left: 10px;
  width: 20%;
}
.zone2 {
  width: 60%;
}
.zone3 {
  width: 20%;
}

/* header */
header {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  color: #181818;
  width: 100%;
  padding-top: 10px;
  z-index: 10;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  position: relative;
  cursor: pointer;
}

header nav ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

header nav ul li:hover ul {
    display: block;
}

/* bandeau défilant */
.logo {
  height: 30px;
}
.textligne1, .textligne2, .textligne3 {
  font-size: 12px;
  color:#01519a;
  text-decoration: none;
  padding: 0 20px;
  margin-block-end: 3px !important;
}
.textligne2 {
  margin-top: 4px;
}
.textligne3 {
  margin-top: 11px;
}
.prepa {
  overflow: hidden;
}
.bandeau {
  margin-top: 3px;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: slidein;
}
.bandeau:hover {
  animation-play-state: paused;
}

@keyframes slidein {
  from {
    margin-left: -27%;
    width: 300%;
  }
  to {
    margin-left: 100%;
    width: 100%;
  }
}

/* bandeau de navigation */
.menu {
  width: 100%;
  background-color: #01519a;
}
.menu a {
  color: #f1f1f1;
  text-decoration: none;
  font-size: 12px;
}
.link0 {
  padding: 12px 15px 8px 20px;
}
.link1, .link2, .link3, .link4, .link5, .link6, .link7, .link8, .link9 {
  text-align: center;
  line-height: 14px;
  width: 140px;
}  
.link1, .link3, .link5, .link6, .link7, .link9 {
  padding-top: 6px;
}
.link2, .link4 {
  padding-top: 14px;
}

.link8 {
  padding-top: 20px;
}
.link1:hover {
  background-color: #00c800;
}
.sous1 {
  background-color: #dcfddc;
}
.pointer1  {
  color:#00c800;
}
.link2:hover {
  background-color: #dda302;
}
.sous2 {
  background-color: #fcf5df;
}
.pointer2  {
  color:#dda302;
}
.link3:hover {
  background-color: #00a6b2;
}
.sous3 {
  background-color: #d6f9fb;
}
.pointer3  {
  color:#00a6b2;
}
.link4:hover {
  background-color: #3f301b;
}
.sous4 {
  background-color: #e8dccd;
}
.pointer4  {
  color:#3f301b;
}
.link5:hover {
  background-color: #d60000;
}
.sous5 {
  background-color: #f9dbdb;
}
.pointer5  {
  color:#d60000;
}
.link6:hover {
  background-color: #2100dc;
}
.sous6 {
  background-color: #c7d5ff;
}
.pointer6  {
  color:#2100dc;
}
.link7:hover {
  background-color: #9c00a5;
}
.sous7 {
  background-color: #fde0ff;
}
.pointer7  {
  color:#9c00a5;
}
.link8:hover {
  background-color: #a49c00;
}
.sous8 {
  background-color: #fffddd;
}
.pointer8  {
  color:#a49c00;
}
.link9:hover {
  background-color: #313131;
}
.sous9 {
  background-color: #eceaea;
}
.pointer9  {
  color:#313131;
}

/* sous menu de navigation */
table {
border-collapse: collapse;
font-family: sans-serif;
font-size: 13px;
letter-spacing: 1px;
}
.main-nav ul {
display: flex;
margin: 0;
padding: 0;
}
.main-nav li {
position:relative;
}
.main-nav a {
display: block;
}

.submenu {
display: none;
position: fixed;
left: 0; 
top: 234px;
width: 100vw; 
z-index: 200;
}
.submenu a {
  display: block;
}

.main-nav li:hover .submenu {
  display: block;
}

.sous { 
  position: absolute;
  width: 100vw;
  text-align: left;
  box-shadow: 2px 2px 8px #333;
  line-height: 9px;
}
/* la classe d'espacement pour descendre sous le header */
.espace {
  height: 234px;
}
/* mise en forme des boutons */
.bouton1 {
  background-color: #01519a;
  border: solid 1px #01519a;
  color: #f1f1f1;
  border-radius: 5px;
  padding: 3px 5px;
  margin-top: 5px;
  height: 24px;
  box-shadow: 1px 1px 6px #9e9e9e;
}
.bouton1:hover {
  background-color: #f1f1f1;
  border: solid 1px #01519a;
  color: #01519a;
}
.bouton2 {
  background-color: #9a0101;
  border: solid 1px #9a0101;
  color: #f1f1f1;
  border-radius: 5px;
  padding: 3px 5px;
  margin-top: 5px;
  height: 24px;
  box-shadow: 1px 1px 6px #9e9e9e;
}
.bouton2:hover {
  background-color: #f1f1f1;
  border: solid 1px #9a0101;
  color: #9a0101;
}
.bouton3 {
  background-color: #1d9a01;
  border: solid 1px #1d9a01;
  color: #f1f1f1;
  border-radius: 5px;
  padding: 3px 5px;
  margin-top: 5px;
  height: 24px;
  box-shadow: 1px 1px 6px #9e9e9e;
}
.bouton3:hover {
  background-color: #f1f1f1;
  border: solid 1px #1d9a01;
  color: #1d9a01;
}

.groupebouton {
  text-align: center;
  height: 24px;
  gap: 10px;
}

/* grille des articles en promotion */
.grille {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 30px 30px 120px 30px;
}
.grilleimage {
  grid-column: 1;
  grid-row: 1 / 3;
}
.grillenom {
  text-align: center;
  grid-column: 1 / 4;
  grid-row: 1;
}
.grilleprix {
  text-align: center;
  grid-column: 2 / 4;
  grid-row: 2;
}
.grilledescription {
  grid-column: 2 / 4;
  grid-row: 3;
}
.grillebouton {
  grid-column: 2 / 4;
  grid-row: 4;
}

/* Mise en forme des contenu des tableaux de sous-menus */

.sous_menu {
  font-size: 9px;
  font-style: italic;
  padding-left: 60px;
}
.basmenu {
  text-transform: uppercase;
  margin-top: 10px;
  padding-left: 11%;
}
.basmenu > a{
  text-decoration: none;
  color: #f90101;
  font-size: 12px;
}
caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

th,
td {
  border-left: 1px dotted #a0a0a0;
  padding: 3px 10px;
  
}

th {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 0.5px;
}

.pub1 {
  display: flex;
  flex-direction: column;
  
}
.pub1 img {
  margin-bottom: 10px;
}

.minilog img {
  height: 24px;
  padding: 0 10px;
  margin-top: -14px;
}
.img_destructeur {
  margin-top: -60px;
}


/* Mise en forme des inputs */
.select1 {
  border: 1px solid #01519a;
  box-shadow: 1px 1px 6px #9e9e9e;
  border-radius: 5px;
  width: 200px;
  height: 20px;
}
.select1:focus {
  outline: none;
  border: 1px solid #b1d2ff;
}

/* Mise en forme du panier */
.panier {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  color: #01519a;
}
.panier svg {
  margin: 5px 10px;
  height: 30px;
}

/* affichage des articles mod card - mod pub - mod line */
.article-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 300px;
  text-align: center;
  display: inline-block;
}

.article-card img {
  max-width: 100%;
  height: auto;
}
.article-card-pub {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
  display: inline-block;
}

.article-card-pub img {
  max-width: 50%;
  height: auto;
}

.article-card-line {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 8px #333;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 90%;
  
}

.article-card-line img {
  max-width: 50%;
  height: auto;
}

/* définition d'une class de mise sur une ligne */
.row {
    display: flex;
    flex-direction: row;
}

/* Footer */
.footer1, .footer2, .footer3 {
  color: #f1f1f1;
  
  
}
.footer1 a,.footer1 li, .footer2 a, .footer2 li {
  color: #f1f1f1;
  list-style: none;
  text-decoration: none;

}
.footer1, .footer3 {
  background-color: #0c0c0c;
  
  
}
.footer1 {
  padding: 10px 25px;
  font-weight:100;
  margin-left: auto;
  margin-right: auto;
  
}
.footer2 {
  background-color: #181818;
  font-variant: small-caps;
}
.footer3 {
  text-align: center;
  padding: 10px ;
}

.footer1 ul, .footer_zone {
  display: flex;
  justify-content: space-around;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  padding-inline-start: 0 !important;
}
.footer_paiement, .footer_aide, .footer_rbs {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 21px;
}
.titre3 {
  text-transform: uppercase;
  font-size: 14px;
}
.footer > .titre3 {
  width: 50px;
}

/* les logos du footer */
.text_footer_band {
  display: inline-block;
  width: 100px;
  font-size: 12px;
  font-style: italic;
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px 0 10px;
}
.footer1 svg {
  height: 35px;
}
.footer1 ul li svg:hover .cls-2 {
  fill: #b1d2ff;
}
.titre3 {
  display: table;
}

.footer_paiement ul li svg {
  height: 30px;
  margin: 10px 20px;
  box-shadow: 1px 1px 4px #ccc;
}
.footer_paiement ul li .svg1:hover, .footer_paiement ul li .svg2:hover, .footer_paiement ul li .svg3:hover {
  box-shadow: none;
  height: 190px;
  position: absolute;
  left: 55px;
  margin-top: -40px;
}
.footer_paiement ul li .svg4:hover, .footer_paiement ul li .svg5:hover, .footer_paiement ul li .svg6:hover {
  box-shadow: none;
  height: 190px;
  position: absolute;
  left: 55px;
  margin-top: -95px;
}
.footer_zone ul {
  padding: 0;
}
.footer_paiement h2 {
  padding-left: 18px;
}
.footer3 p:nth-child(1) {
  font-size: 13px;
  color: darkgrey;
  font-style: italic;
  
}
.footer3 p:nth-last-child(1) {
  text-align: justify;
  font-size: 10px;
  color: white;
}

/* Galerie d'images 1 */
.gallery {
  position: relative;
  width: 100%;
  height: 65vh; /*100vh */
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s ease, transform 1s ease;
}

.slide.active {
  opacity: 1;
  transform: translateX(0);
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  z-index: 1;
}

.content h1, .content .small-images, .content h3 {
  /* opacity: 0; */
  position: relative;
}

.content h1 {
  animation: slideDown 3s ease forwards 1.5s;
}

.content .small-images {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 20px 0; */
  /* min-width: 150px; 
  min-height: 60px;  */
  /* z-index: 20; */
  background-color: rgba(0, 255, 0, 0.3); /* Couleur de test temporaire */
  border: 2px solid blue; /* Bordure de test temporaire */
  padding: 10px; /* Espacement intérieur pour bien voir les bordures */
}

.content .small-images img {
  display: inline-block; /* S'assurer que les images sont en ligne */
  visibility: visible; /* S'assurer qu'elles ne sont pas cachées */
  border: 2px dashed red; /* Bordure temporaire */
  width: 200px;
  height: 150px; /* Définit une hauteur pour éviter 0x0 */
  /* margin: 0 10px; */
  /* animation: fadeIn 3s ease forwards 1.5s; */
  opacity: 1;
  /* z-index: 21; */
}

@keyframes fadeIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.content .small-images img {
  animation: slideIn 1.5s ease-in-out forwards;
}

.content .small-images img:nth-child(1) {
  animation-delay: 0.5s;
}

.content .small-images img:nth-child(2) {
  animation-delay: 1s;
}

.content .small-images img:nth-child(3) {
  animation-delay: 1.5s;
}

.content h3 {
  animation: slideUp 3s ease forwards 2.5s;
}

.content h1,
    .content .small-images img,
    .content h3 {
      animation-iteration-count: infinite;
      /* animation-direction: alternate; */
    }

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(500px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
